/*-----------------------------------------------------------------------------------
	    Sorted-v1.5-VideosDraft
        Built with Blocs
-----------------------------------------------------------------------------------*/

body{
	margin:0;
	padding:0;
    background:#FFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a:hover{text-decoration: none; cursor:pointer;}

a,button{outline: none!important;} /* Prevent ugly blue glow on chrome and safari */

#page-loading-blocs-notifaction{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-lg{
	padding:100px 50px;
}
.bloc-md{
	padding:50px;
}
.bloc-sm{
	padding:20px 50px;
}


/* Group Styles */

.bloc-group{
	display:flex;
}
.bloc-group .bloc{
	flex: 1;
}
.bloc-tile-2{
	width:50%;
}
.bloc-tile-3{
	width:33.33333333%;
}
.bloc-tile-4{
	width:25%;
}
.bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
	width:100%;
}


/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a,.d-bloc .navbar-brand, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
	color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc .navbar-brand:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .panel{
	color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .panel icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .panel .a-btn{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .panel .btn-wire, .d-bloc .panel .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-bloc .panel,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .panel button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .panel .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .panel .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc .navbar-brand,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc .navbar-brand:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .panel .btn-wire,.d-bloc .panel .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}
/* Dividers */

.b-divider{
	border-top:1px solid rgba(0,0,0,.1);
	border-bottom:1px solid rgba(0,0,0,.1);
}

/* Bloc text custom styling */

#bloc-2 .hero-image{
  background-image:url("img/iPhone-7-Jet-Black-vertical.png");
  background-position: 50%;
  background-size: 388px 680px;
  background-repeat: no-repeat;
  height: 570px;
}
#bloc-2 .hero-image .flx-embed{
  height: 100%;
}
#bloc-2 .hero-image .flx-embed-wrapper{
  position: relative;
  padding-bottom: 100%;
  height: 100%;
  width: 100%;
}
#bloc-2 .hero-image iframe{
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 76%;
}
#bloc-2 .right{
  padding-top: 10%;
}
#bloc-2 h1{
	font-family: Nunito;
	font-weight: 600;
	font-size: 55px;
}
#bloc-2 h4{
	font-family: Nunito;
	font-weight: 400;
	font-size: 26px;
}
#bloc-2 p{
	font-weight: 600;
	font-family: Helvetica;
	font-size: 18px;
	line-height: 24px;
}
#bloc-3 h1{
	font-family: Nunito;
	font-weight: 600;
	font-size: 55px;
}
#bloc-3 h4{
	font-family: Nunito;
	font-weight: 400;
	font-size: 26px;
}
#bloc-3 p{
	font-weight: 600;
	font-family: Helvetica;
	font-size: 18px;
	line-height: 24px;
}
#bloc-5 h3{
	font-weight: 100;
	font-family: Helvetica;
}
#bloc-6 h2{
	font-family: Nunito;
	font-weight: 200;
	font-size: 44px;
}
#bloc-6 h3{
	font-family: Nunito;
	font-weight: 600;
	font-size: 32px;
}
#bloc-6 p{
	font-size: 16px;
	line-height: 27px;
}
#bloc-7 h3{
	font-family: Nunito;
	font-weight: 200;
	font-size: 40px;
}
#bloc-10 h3{
	font-family: Nunito;
	font-weight: 200;
	font-size: 40px;
}
#bloc-10 p{
	font-size: 20px;
	line-height: 30px;
}
#bloc-11 h2{
	font-family: Nunito;
	font-weight: 200;
	font-size: 40px;
	line-height: 44px;
}
#bloc-11 h3{
	font-family: Nunito;
	font-weight: 600;
	font-size: 22px;
	line-height: 1.8em;
}
#bloc-11 p{
	font-size: 14px;
	line-height: 1.8em;
}
#bloc-12 h2{
	font-family: Nunito;
	font-weight: 300;
	font-size: 40px;
	line-height: 44px;
}
#bloc-12 p{
	font-size: 16px;
}
#bloc-12 h3{
	font-family: Nunito;
	font-weight: 300;
	font-size: 27px;
}
#bloc-13 h2{
	font-family: Nunito;
	font-weight: 300;
	font-size: 40px;
	line-height: 44px;
}
#bloc-13 p{
	font-size: 18px;
}
#bloc-15 h2{
	font-family: Nunito;
	font-weight: 200;
	font-size: 40px;
	line-height: 44px;
}
#bloc-16 h3{
	font-family: Nunito;
	font-weight: 600;
	font-size: 40px;
}
#bloc-16 p{
	font-size: 18px;
}
#bloc-17 h3{
	font-family: Nunito;
	font-weight: 600;
	font-size: 40px;
}
#bloc-17 p{
	font-size: 18px;
}
#bloc-18 h3{
	font-family: Nunito;
	font-weight: 300;
	font-size: 40px;
}
#bloc-18 p{
	font-size: 18px;
}
#bloc-19 p{
	font-size: 18px;
}
#bloc-20 h3{
	font-family: Nunito;
	font-weight: 400;
}
#bloc-21 h3{
	font-family: Nunito;
	font-weight: 600;
}
#bloc-25 h3{
	font-size: 40px;
}
#bloc-25 p{
	font-size: 18px;
}
#bloc-29 p{
	font-size: 40px;
	font-family: Nunito;
	font-weight: 400;
}
#bloc-37 p{
	font-size: 22px;
}
#bloc-42 h3{
	font-size: 18px;
}
#bloc-43 h3{
	font-family: Nunito;
	font-weight: 200;
	font-size: 14px;
}

/* = NavBar
-------------------------------------------------------------- */

.navbar{
	margin-bottom: 0;
	z-index:1;
}
.navbar-brand{
	height:auto;
	padding:3px 15px;
	font-size:25px;
	font-weight:normal;
	font-weight:600;
	line-height:44px;
}
.navbar-brand img{
	max-height: 200px;
	margin: 0 5px 0 0;
	display:inline;
}
.nav-center .navbar-brand img{
	margin:0;
}
.navbar .nav{
	padding-top: 2px;
	margin-right: -16px;
	float:right;
	z-index:1;
}
.nav > li{
	float:left;
	margin-top:4px;
	font-size:16px;
}
.navbar-nav .open .dropdown-menu > li > a{
	text-align: inherit;
}
.nav > li a:hover, .nav > li a:focus{
	background:transparent;
}
.navbar-toggle{
	margin: 10px 10px 0 0;
	border: 0px;
}
.navbar-toggle:hover{
	background:transparent!important;
}
.navbar-toggle .icon-bar{
	background-color: rgba(0,0,0,.5);
	width: 26px;
}
 /* Inverted navbar */

.nav-invert .navbar .nav{
	float:left;
}
.nav-invert .navbar-header, .nav-invert .navbar-brand{
	float:right;
}
@media (min-width: 768px){
	.site-navigation{
		position:absolute;
		top:50%;
		right:20px;
		transform:translate(0, -50%);
		-webkit-transform:translateY(-50%);
	}
	.nav > li .dropdown-menu a,.nav > li .dropdown-menu a:hover{
		color:#484848;
	}
	.nav-invert .site-navigation{
		left:0;
		right:0;
	}
	.nav-center{
		text-align:center;
	}
	.nav-center .navbar-header{
		width:100%;
	}
	.nav-center .navbar-header, .nav-center .navbar-brand, .nav-center .nav > li{
		float: none;
		display:inline-block;
	}
	.nav-center .site-navigation{
		position:relative;
		width:100%;
		margin-top:20px;
	}
.nav-center.mini-nav .navbar-toggle{
	float:none;
	margin: 10px auto 0;
	}
}
.nav > li > .dropdown a{
	background: none!important;
	display: block;
	padding: 14px 15px;
}

nav .caret{
	margin: 0 5px;
}
/* Dropdown Menus SubMenu */
	.dropdown-menu .dropdown-menu{
	top:-8px;
	left:100%;
}
.dropdown-menu .dropmenu-flow-right{
	top:100%;
	left:0;
	margin-left: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.dropdown-menu .dropdown span{
	border: 4px solid black;
	border-top-color:transparent;
	border-right-color:transparent;
	border-bottom-color:transparent;
	margin: 6px -5px 0 0!important;
	float: right;
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
.mg-lg{
	margin-top:10px;
	margin-bottom:40px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn{
	margin: 0 5px 5px 0;
}
.btn.pull-right{
	margin: 0 0 5px 5px;
}
.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.icon-spacer{
	margin-right:5px;
}
.btn .caret{
	margin:0 0 0 5px}.dropdown a .caret{
	margin:0 0 0 5px}.btn-dropdown .dropdown-menu .dropdown{
	padding: 3px 20px;
}

/* = Icons
-------------------------------------------------------------- */
.icon-sm{
	font-size:18px!important;
}
.icon-md{
	font-size:30px!important;
}
.icon-lg{
	font-size:60px!important;
}




.panel-sq, .panel-sq .panel-heading, .panel-sq .panel-footer{
	border-radius:0;
}
.panel-rd{
	border-radius:30px;
}
.panel-rd .panel-heading{
	border-radius:29px 29px 0 0;
}
.panel-rd .panel-footer{
	border-radius:0 0 29px 29px;
}


/* = Forms
-------------------------------------------------------------- */

.form-control{
	border-color:rgba(0,0,0,.1);
	box-shadow:none;
}

/* iFrame */

iframe{
	border:0;
}


/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}
/* = MacBook Devices
-------------------------------------------------------------- */

.blocsapp-device-mb{
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	display: block;
	width:100%;
	height:auto;
	padding: 3.6% 15% 7.5%;
}
.blocsapp-device-mb img{
	width:100%;
	height:auto;
	margin: 0 auto;
}
/* = MacBook Space Grey
-------------------------------------------------------------- */

.mb-space-grey{
	background-image:url("img/Apple-Macbook-Space-Grey.png");
}
/* = Watch Devices
-------------------------------------------------------------- */

.blocsapp-device-watch{
	background-size: 256px 495px;
	padding-top:148px;
	display: block;
	width:256px;
	height:495px;
}
.blocsapp-device-watch img{
	width: 156px;
	height: 198px;
	margin: 0 auto;
}
.blocsapp-device-watch.watch-white{
	background-image:url("img/Apple-watch-white.png");
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Helvetica";
}
.container{
	max-width:1170px;
}
.device-bloc-text-vc{
	font-size:50px;
	margin-top:50%;
}
.statement-bloc-text{
	line-height:38px;
	font-style:italic;
	font-size:28px;
	text-align:center;
	font-weight:lighter;
}
.imac-bloc-text-vc{
	font-size:50px;
	margin-top:5%;
}
.blocs-mobile-signup-text{
	font-size:33px;
}
.watch-bloc-text-vc{
	font-size:50px;
	margin-top:20%;
}
.feature-Image-Size{
	max-height:100%;
}
.feature-image-size{
	overflow:hidden;
	max-height:70%;
}
.reviews-section{
	padding-bottom:10px;
	padding-top:0px;
}
.review-section-title{
	padding-top:10px;
	font-family:"Nunito";
	font-weight:300;
	font-size:40px;
}
.macos-ss{
	width:1280px;
	height:720px;
}
.mb-bloc-text-vc{
	font-size:50px;
}
.spacer{
	height:40px;
}
.terms-condition{
	font-size:10px;
}
.share-extension-img{
	max-height:500px;
}
.threed-touch-video{
	max-height:50%;
}
.page-title-text{
	font-size:40px;
	font-family:"Nunito";
	font-weight:400;
}
.page-body-text{
	font-size:18px;
}
.watch-app-ss{
	max-height:300px;
}
.share-extension-padding{
	padding-bottom:50px;
}
.patent-img{
	max-height:400px;
}
.quotes-1{
	font-size:18px;
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-ghost-white{
	background-color:#F8FAFA;
}
.bgc-charcoal{
	background-color:#363C43;
}
/* Text colour styles */

.tc-charcoal{
	color:#363C43!important;
}
/* Button colour styles */

.btn-charcoal{
	background:#363C43;
	color:#FFFFFF!important;
}
.btn-charcoal:hover{
	background:#2b3036;
	color:#FFFFFF!important;
}
.btn-ball-blue{
	background:#27A0D6;
	color:#FFFFFF!important;
}
.btn-ball-blue:hover{
	background:#1f80ab;
	color:#FFFFFF!important;
}
/* Link colour styles */

.ltc-ball-blue{
	color:#27A0D6!important;
}
.ltc-ball-blue:hover{
	color:#1f80ab!important;
}
/* Icon colour styles */

.icon-white{
	color:#ffffff!important;
	border-color:#ffffff!important;
}
.icon-charcoal{
	color:#363C43!important;
	border-color:#363C43!important;
}

/* Bloc image backgrounds */




/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1200px)
{
  #bloc-2 .right{
    padding-top: 15%;
  }
}
@media (max-width: 1024px)
{
    .bloc{
        padding-left: 20px; 
        padding-right: 20px;  
    }
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 992px) and (min-width: 768px)
{
    .navbar .nav{
		max-width:80%
    }
	.nav-center.navbar .nav{
		max-width:100%
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {.b-parallax{background-attachment:scroll;}}
@media (max-width: 768px)
{
    .container{width:100%;}
    .b-parallax{background-attachment:scroll;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{padding-left: 10px;padding-right: 10px;}
}
@media (max-width: 767px)
{
    #bloc-2 .bloc-lg{
      padding-top: 0;
    }
    #bloc-2 .hero-image iframe{
      height: 432px;
    }
    #bloc-2 .right{
      padding-top: 0;
      padding-bottom: 40px;
    }

    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    h1,h2,h3,h4,h5,h6,p,#disqus_thread{
        padding-left:10px!important; 
        padding-right:10px!important; 
    }
    #hero-bloc h1{
        font-size:40px;
    }
    #hero-bloc h2{
        font-size:34px;
    }
    #hero-bloc h3{
        font-size:25px;
    }
    .b-parallax{
        background-attachment:scroll;
    }
    .navbar .nav{
        padding-top: 0;
        border-top:1px solid rgba(0,0,0,.2);
        float:none!important;
    }
    .navbar.row{
        margin-left: 0;
        margin-right: 0;
    }
    .site-navigation{
	   position:inherit;
	   transform:none;
	   -webkit-transform:none;
	   -ms-transform:none;
    }  
    .nav > li{
        margin-top: 0;
        border-bottom:1px solid rgba(0,0,0,.1);
        background:rgba(0,0,0,.05);
        text-align: left;
        padding-left:15px;
        width:100%;
    }
    .nav > li:hover{
        background:rgba(0,0,0,.08);
    }
    .dropdown .dropdown a .caret{   
        float: none;
        margin: 5px 0 0 10px!important;
        border: 4px solid black;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    
    #hero-bloc .navbar .nav{
        background:rgba(0,0,0,.8);
    }
    #hero-bloc .navbar .nav a{
        color:rgba(255,255,255,.6);
    }
    .hero{
        padding:50px 0;
    }
    .hero-nav{
        left:-1px;
        right:-1px;
    }
    .navbar-collapse{
        padding:0;
        overflow-x: hidden;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-brand img{
        max-height: 40px;
        width:auto;   
    }
    .nav-invert .navbar-header{
        float: none;
        width:100%;
    }
    .nav-invert .navbar-toggle{
        float:left; 
    }
    .bloc-xxl,.bloc-xl,.bloc-lg{
        padding: 40px 0;
    }
    .bloc-sm,.bloc-md{
        padding-left: 0; 
        padding-right: 0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .video-bg-container{
        display:none;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 400px)
{    
    .bloc{
        padding-left: 0; 
        padding-right: 0;  
        -webkit-background-size: auto 200%;
        -moz-background-size: auto 200%;
        -o-background-size: auto 200%;
        background-size: auto 200%;
    }
}
@media (max-width: 420px){
    #bloc-2 .hero-image{
      background-image: url("./img/Flixel-Still-Image-Mobile-No-Frame.png");
      background-size: initial;
      height: 400px;
    }
    #bloc-2 .hero-image iframe{
      top: 0;
      height: 100%;
    }
    #bloc-2 h1 {
      font-size: 54px;
    }
    #bloc-13 div.text-left{
      text-align: center;
    }

	.blocs-mob-center-text{
	text-align:center;
}
.bloc-mob-center-text{
	text-align:center;
}
.blocs-mobile-signup-text{
	text-align:center;
}
 }

